  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg custom-bg-lightblue">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/employees">All Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Add New Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About System</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!-- Nav Bar -->

<!--Home Page-->

  <title>Welcome to Employee Management System</title>
  <style>
      body {
          background-color: #ffffff;
      }

      .container {
          margin-top: 100px;
      }

      h1 {
          color: #007bff;
      }

      p {
          font-size: 1.2em;
          color: #495057;
      }

      .btn-primary, .btn-success {
        font-size: 1.2em;
        margin-top: 20px;
    }

    .btn-success {
        margin-left: 15px; /* Adjust the margin-left to increase or decrease the spacing */
    }
  </style>
  <body>

    <div class="container text-center">
      <h1 class="mb-4">Employee Management System</h1>
      <p class="lead mb-4">Welcome to our employee management system. Manage your employees efficiently!</p>
      <a href="/employees" class="btn btn-primary btn-lg">View Employees</a>
      <a href="/add" class="btn btn-success btn-lg">Add Employee</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>