<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Employees</title>
</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg custom-bg-lightblue">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/employees">All Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add">Add New Employee</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- Nav Bar -->

    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center">View Users</h1>
        <div class="container">

          <!-- Search Button -->
          <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Type here to Search Employee"[(ngModel)]="filterChange"
            aria-label="Search" aria-describedby="search-addon" />
           
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
          </div>

            <!--Add User Button-->
            <div class="my-3">
                <a href="/add"><button type="button" class="btn btn-primary">Add User</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">NRC Number</th>
                    <th scope="col">Interest</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees | filterpipe : filterChange">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.nrc}}</td>
                    <td>{{employee.interest}}</td>
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning" (click)="updateEmployee(employee.id)" type="button">Update</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deleteEmployee(employee.id)" type="button">Delete</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>

