<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg custom-bg-lightblue">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/employees">All Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add">Add New Employee</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     <!-- Nav Bar -->

    <!-- Main Content -->
    <div class="my-5">
      <div class="mx-auto w-25 " style="max-width:100%;">
        <h2 class="text-center mb-3">Update Employee Information</h2>
        <form class="form" (submit)="update()" [formGroup]="form">
         

          <!-- Email -->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" type="email" formControlName="email" name="email" class="form-control" placeholder="Email" required>
            </div>
          </div>

          <!-- NRC Number -->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="nrc" class="form-label">NRC Number</label>
              <input id="nrc" type="nrc_number" formControlName="nrc" name="NRC Number" class="form-control" placeholder="NRC Number" required>
            </div>
          </div>

          <!-- Interest -->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="Interest" class="form-label">Interest</label>
              <textarea id="Interest" type="text" formControlName="interest" name="interest" class="form-control" placeholder="Machine Learning, Cyber Security" rows="3" required></textarea>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="row">
            <div class="col-md-12 form-group">
              <button type="button" [disabled]="form.invalid" (click)="update()">Update</button>
            </div>
          </div>

          <!-- Display Validation Errors -->
          <div *ngIf="form.invalid">
            <p class="text-danger">Please fill out all required fields.</p>
          </div>
        </form>
      </div>
    </div>
</body>
</html>

